<mat-toolbar color="primary">
  <div class="container-md">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openSideNav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>E-Commerce</span>

    <div class="icon-end">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
